@page "/device"
@inherits DevicePage

<h3>Device NV9USB</h3>

<br />
<br />
<h4>Note Value</h4>
<input @bind="NoteValue" class="form-control-lg" type="text" placeholder=".form-control-lg">  @Currency

<br />
<br />
<h4>Events</h4>
<p>
    @InfoText
</p>